<!DOCTYPE html>
<html>
<head>
    <title>Gaming Event</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Buy Tickets</a></li>
            <li><a href="/view">Display Tickets</a></li>
            <li><a href="/register"> Register </a> </li>	
            <li><a href="/logout"> Logout </a> </li>	
        </ul>
    </nav>

<div class="event-des">
<h1 id="big">Canada’s Biggest Gaming Fest is here </h1>
<p id="des">🎮Join us for an electrifying gaming experience like no other! GameFest Canada, the nation's largest gaming festival, is back and better than ever in 2023.<br><br> 

🌟 Spectacular Esports Tournaments: Witness top-tier competitive gaming action as esports titans clash in thrilling battles for glory and prizes.<br><br>

🔥 Cosplay Showdown: Show off your cosplay prowess or enjoy the incredible creativity of others in our cosplay competition.<br><br>

🎁 Prizes and Giveaways: Win epic gaming gear, collectibles, and exclusive merchandise in our contests and giveaways.<br><br>

🤖 Meet Gaming Celebrities: Get up close and personal with your favorite gaming personalities, streamers, and industry legends.<br><br>

</p>
</div>
 <div class="event-info">   
<h2 id="ln1" >Event Details</h2>
    <p id="ln2"><strong>Date:</strong> October 28, 2023</p>
    <p id="ln3"><strong>Location:</strong> Canada Gaming Center,<br> Toronto, ON</p>
 </div>   
<img src="../static/img/img1.jpg" th:src="@{/img/img1.jpg}" />
<link rel="stylesheet" type="text/css" media="all"
href="../static/css/Style1.css"
th:href="@{/css/Style1.css}" />

</body>
</html>

